.input-style {
  width: 100%;
  background-color: #0f172a;        
  border: 1px solid #475569;         
  border-radius: 8px;                
  padding: 8px 12px;                
  color: #ffffff;                    
  outline: none;
  transition: all 0.2s ease-in-out;
 
}

.input-style:focus {
  border-color: #06b6d4;            
  box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.5);
}

.label {
  font-size: 14px;         
  color: #9ca3af;          
  margin-bottom: 4px;
  display: block;
}