@keyframes rotateBorder {
  0% {
    clip-path: inset(0 0 97% 0);
  }
  25% {
    clip-path: inset(0 97% 0 0);
  }
  50% {
    clip-path: inset(97% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 97%);
  }
  100% {
    clip-path: inset(0 0 97% 0);
  }
}

.animate-rotate-border {
  animation: rotateBorder 5s linear infinite;
}
